<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prueba.backend.repository.TaskRepository">

    <select id="listTasks" resultType="com.prueba.backend.model.Task">
        SELECT id, name, description, start_date AS startDate
        FROM task
    </select>

    <insert id="insertTask" parameterType="com.prueba.backend.model.Task">
        INSERT INTO task (name, description, start_date)
        VALUES (#{name}, #{description}, #{startDate})
    </insert>

</mapper>
